<div class="d-flex align-items-center">
  <h1>新規水族館作成</h1>
  <div class="ml-auto aquaria__linkBox">
    <%= link_to '水族館一覧', aquaria_path, class: "btn btn-outline-dark" %>
  </div>
</div>

<%= render partial: 'form', locals: { aquarium: @aquarium } %>