<% if aquarium.favorited_by?(current_user) %>
<li>
  <%= link_to aquarium_favorites_path(aquarium), method: :delete do %>
  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
  <% end %>
</li>
<% else %>
<li>
  <%= link_to aquarium_favorites_path(aquarium), method: :post do %>
  <i class="far fa-heart" aria-hidden="true"></i>
  <% end %>
</li>
<% end %>