<h1>マイページ</h1>
<p>ユーザー名：<%= @current_user.name %></p>

<table class="table table-hover table-light">
  <thead>
    <tr>
      <th colspan="4">水族館名</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @aquaria.each do |aquarium| %>
    <tr>
      <td colspan="4"><%= aquarium.name %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to '詳細', aquarium, class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @aquaria %>