// Place all the styles related to the Aquaria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aquarium_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.aquaria__linkBox {
  a {
    margin: 0 8px;
  }
}

.aquaria__searchForm {
  display: inline-block;
}

.aquaria__select {
  display: inline-block;
  width: auto;
}
