// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-item {
  text-align: center;
  margin-right: 10px;
}

.top-item:last-child {
  margin-right: 0;
}
