// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
  background-color: rgb(26, 87, 128);
  height: 100vh;
  width: 100vw;
}

.form-login {
  background-color: rgb(26, 87, 128);
  height: 100vh;
  width: 100vw;
}
